<ion-header>
  <ion-toolbar>
    <ion-title>Assegna corriere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-with-blur-background">

  <ion-card class="mid-transparent-card">
    <ion-card-header>
      <ion-card-title style="font-size:25px"><strong>Dettagli Merce:</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        <h2>Nome: {{nome}}</h2>
        <h2>ID Ordine: {{id_ordine}}</h2>
        <h2>Quantità: {{quantita}}</h2>
        <h2>Stato: {{stato}}</h2>
        <h2 *ngIf="corriere.id==null">Corriere: </h2>
        <h2 *ngIf="corriere.id!=null">Corriere: {{corriere.cognome}}, {{corriere.nome}}</h2>
      </ion-label>

      <br>

      <ion-button color="primary" expand="block" (click)="assegnaCorriere()">Assegna Corriere</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card class="mid-transparent-card">
    <ion-card-header>
      <ion-card-title style="font-size:25px"><strong>Corrieri Disponibili:</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-virtual-scroll [items]="dipendenti" approximateItemHeight="70px">
        <ion-item button="true" lines="full" *virtualItem="let dipendente" (click)="pickCorriere(dipendente)">
          <ion-avatar slot="start">
            <img src="../../../../../assets/user.png">
          </ion-avatar>

          <ion-label>
            <h2 text-capitalize>{{dipendente.cognome}} {{dipendente.nome}}</h2>
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">Chiudi</ion-button>
  </ion-toolbar>
</ion-footer>