.card {
    margin: 0 5px;
    width: calc(100% - 10px);
    padding: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    color:transparent;
    border-radius: 4px;
}

.transparent-card {
	background: rgba(0, 0, 0, 0.2);
}

.transparent-card ion-item {
	--ion-item-background: rgba(0, 0, 0, 0.2);
}