.login-card{
    width: 400px;
    max-width: 400px;
    padding-top: 30px;
    margin: 0 auto;

    text-align: center;
    font-size: 40px !important;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position:absolute;
}

.login-button {
    max-width: 400px;
}

#login-field {
    max-width: 400px;
}

.center-positioning {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.forgot-password{
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
}