.login-card{
    width: 400px;
    max-width: 400px;
    padding-top: 30px;

    text-align: center;
    font-size: 40px !important;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position:absolute;
}

.login-button {
    max-width: 400px;
}

#login-field {
    max-width: 400px;
}

.forgot-password{
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
}