.page-footer{
    background-color: #1e1e1e;
    padding: 2px;
}

.footer-text{
    font-size: 15px;
}

a:link{
    color: #2196F3;
    text-decoration: none;
}

a:visited {
    color: #2196F3;
}

a:hover{
    color: white;
}