<ion-footer style="text-align: center;" class="page-footer">
  <ion-grid class="footer-text">
    <ion-row>
      <ion-col>
        <a target="_blank" rel="noopener noreferrer" href="https://www.unicam.it/">Università di Camerino</a>
      </ion-col>
      <ion-col>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/matteoRondyUni/C3-PAWM">Github del
          progetto</a>
      </ion-col>
      <ion-col>
        <a target="_blank" rel="noopener noreferrer"
          href="http://didattica.cs.unicam.it/doku.php?id=didattica:triennale:pawm:ay_2021:main">Corso di
          Progettazione di Applicazioni Web e Mobile</a>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <strong style="font-size: 12px;">Website created ONLY for university use!</strong>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>