<ion-header>
  <ion-toolbar>
    <ion-title>Dipendenti</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="startReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <br>
    <ion-button expand="full" (click)="creaDipendente()">
      Aggiungi
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-virtual-scroll [items]="dipendenti" approximateItemHeight="70px" [headerFn]="separateLetter">

    <ion-item-divider *virtualHeader="let header" color="gray">
      <ion-label>{{header}}</ion-label>
    </ion-item-divider>

    <ion-item *virtualItem="let dipendente" (click)="apriDettagli(dipendente)">
      <ion-avatar slot="start">
        <img src="../../../../../assets/user.png">
      </ion-avatar>

      <ion-label>
        <h2 text-capitalize>{{dipendente.cognome}} {{dipendente.nome}}</h2>
      </ion-label>

      <ion-icon name="information-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>