.ordine-attivo{
    // --ion-item-background:#1d5735d5;
    --ion-item-background:#254e70d5;    
}

.articoli-attivo{
    //--ion-item-background:#17442a;
    --ion-item-background:#18354dd5;
}
.virtual-attivo{
    //--ion-item-background:#17442a;
    --ion-virtual-scroll-background:#18354dd5;
}