<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <app-header-navigation-bar></app-header-navigation-bar>
    </ion-toolbar>
  </ion-header>

  {{ isAboutPage() }}

  <ion-content>
    <div class="container">
      <ion-card style="background-color: rgba(0, 0, 0, 0.6) !important;">
        <ion-card-header>
          <ion-card-title class="card-title">
            <strong>Informazioni Tecniche:</strong>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="page-text">
          Progetto realizzato tramite Ionic ed Angular.

          Hosting offerto dalla piattarforma di Heroku.

          ... (da completare) ...
          <p>
            Foto del Background by <a target="_blank" rel="noopener noreferrer"
              href="https://unsplash.com/@blakewisz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Blake
              Wisz</a>
            on <a target="_blank" rel="noopener noreferrer"
              href="https://unsplash.com/s/photos/shop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </p>
        </ion-card-content>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-icon name="logo-github"></ion-icon>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/matteoRondyUni"> Matteo Rondini</a>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-icon name="logo-github"></ion-icon>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/catervpillar"> Tommaso Catervi</a>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  <app-cookie-alert></app-cookie-alert>
  <app-page-footer></app-page-footer>
</ion-app>