<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <app-header-navigation-bar></app-header-navigation-bar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-content-with-hexagon-background">
    <div class="container">
      <ion-card style="background-color: rgba(0, 0, 0, 0.7) !important;">
        <ion-card-header>
          <ion-card-title class="card-title">
            <strong>Cos'è C3-PAWM:</strong>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="page-text">
          C3-PAWM è un'app rivolta ai centri abitati medi della provincia italiana
          dove le attività commerciali del centro soffrono la concorrenza dei grandi centri commerciali
          situati nelle periferie.
          <br><br>
          L’idea di fondo è considerare il trasporto della merce, una volta acquistata, una delle scomodità principali
          dell'acquistare in centro, oltre al doversi spostare di più a piedi per raggiungere i diversi punti vendita.
          <br>
          Il progetto si pone dunque come obiettivo quello di fornire un supporto tramite punti di prelievo per
          rendere
          l’esperienza degli acquisti in centro più facile e interessante.
          <br><br>
          L'app è stata sviluppata tramite Ionic Framework.
          L'hosting è offerto dalla piattaforma Heroku.
          <br><br>
          Immagini ed icone varie utilizzate nel progetto sono state reperite rispettivamente da <a target="_blank"
            rel="noopener noreferrer" href="https://unsplash.com/">Unsplash</a>
          e <a target="_blank" rel="noopener noreferrer" href="https://www.flaticon.com/">Flaticon</a>
          <br><br>
          <p style="text-align: center;">
            Autori:<br> <a target="_blank" rel="noopener noreferrer" href="https://github.com/matteoRondyUni">
              <ion-icon name="logo-github"></ion-icon> Matteo Rondini
            </a>
            e <a target="_blank" rel="noopener noreferrer" href="https://github.com/catervpillar">
              <ion-icon name="logo-github"></ion-icon> Tommaso Catervi
            </a>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  <app-cookie-alert></app-cookie-alert>
  <app-page-footer></app-page-footer>
</ion-app>