ion-content {
    --background: url("../../../assets/home-background-unsplash.jpg") no-repeat 100%
      100%;
  }
  

.registration-card{
    max-width: 500px;
    padding-top: 30px;
    text-align: center;
    margin:auto;
}