<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button>Aggiungi</ion-button>
  <ion-button>Rimuovi</ion-button>

  <ion-virtual-scroll [items]="inventario" approximateItemHeight="70px">
    <ion-item *virtualItem="let inventario">
      <ion-label>
        <h2 text-capitalize>{{inventario.nome}}</h2>
        <p>Quantità: {{inventario.quantita}}, Prezzo: {{inventario.prezzo}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>