<ion-header>
  <ion-toolbar>
    <ion-title>Ordini</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="ordini_in_transito">
      <ion-segment-button value="ordini_in_transito">
        <ion-label>In Transito</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ordini_da_ritirare">
        <ion-label>Da Ritirare</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ordini_ritirati">
        <ion-label>Ritirati</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="startReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="segment === 'ordini_in_transito'">

    <ion-virtual-scroll [items]="ordiniInTransito">

      <ion-card *virtualItem="let ordine">
        <ion-item class="item-background-color">

          <ion-avatar slot="start">
            <img src="../../../../../assets/box.png">
          </ion-avatar>

          <ion-label>
            <h2 text-capitalize style="font-size:22px">Ordine #{{ordine.id}}</h2>
            <h2>Data ordine: {{ordine.data_ordine}}</h2>
            <h2>Negozio: {{ordine.negozio_nome}}</h2>
            <h2>Magazzino: {{ordine.magazzino_nome}}</h2>
            <h2>Ditta di Trasporti: {{ordine.ditta_nome}}</h2>
            <h2>Stato: {{ordine.stato}}</h2>
            <h2>Codice Ritiro: {{ordine.codice_ritiro}}</h2>
          </ion-label>

          <ion-icon name="information-circle-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-virtual-scroll [items]="ordine.merci">
            <ion-item *virtualItem="let merce">
              <ion-avatar slot="start">
                <img src="../../../../../assets/shopping-bag.png">
              </ion-avatar>

              <ion-label>
                <h3 text-capitalize style="font-size:18px">{{merce.nome}}</h3>
                <h3>Quantità: {{merce.quantita}}</h3>
                <h3>Stato: {{merce.stato}}</h3>
              </ion-label>
            </ion-item>

          </ion-virtual-scroll>
        </ion-item>

      </ion-card>
    </ion-virtual-scroll>
  </div>

  <div *ngIf="segment === 'ordini_da_ritirare'">

    <ion-virtual-scroll [items]="ordiniDaRitirare">

      <ion-card *virtualItem="let ordine">
        <ion-item class="item-background-color">

          <ion-avatar slot="start">
            <img src="../../../../../assets/box.png">
          </ion-avatar>

          <ion-label>
            <h2 text-capitalize style="font-size:22px">Ordine #{{ordine.id}}</h2>
            <h2>Data ordine: {{ordine.data_ordine}}</h2>
            <h2>Negozio: {{ordine.negozio_nome}}</h2>
            <h2>Magazzino: {{ordine.magazzino_nome}}</h2>
            <h2>Ditta di Trasporti: {{ordine.ditta_nome}}</h2>
            <h2>Stato: {{ordine.stato}}</h2>
            <h2>Codice Ritiro: {{ordine.codice_ritiro}}</h2>
          </ion-label>

          <ion-icon name="information-circle-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-virtual-scroll [items]="ordine.merci">
            <ion-item *virtualItem="let merce">
              <ion-avatar slot="start">
                <img src="../../../../../assets/shopping-bag.png">
              </ion-avatar>

              <ion-label>
                <h3 text-capitalize style="font-size:18px">{{merce.nome}}</h3>
                <h3>Quantità: {{merce.quantita}}</h3>
                <h3>Prezzo acquisto: {{merce.prezzo_acquisto}}</h3>
                <h3>Stato: {{merce.stato}}</h3>
              </ion-label>
            </ion-item>

          </ion-virtual-scroll>
        </ion-item>
      </ion-card>

    </ion-virtual-scroll>
  </div>

  <div *ngIf="segment === 'ordini_ritirati'">

    <ion-virtual-scroll [items]="ordiniRitirati">

      <ion-card *virtualItem="let ordine">
        <ion-item class="item-background-color">

          <ion-avatar slot="start">
            <img src="../../../../../assets/box.png">
          </ion-avatar>

          <ion-label>
            <h2 text-capitalize style="font-size:22px">Ordine #{{ordine.id}}</h2>
            <h2>Data ordine: {{ordine.data_ordine}}</h2>
            <h2>Negozio: {{ordine.negozio_nome}}</h2>
            <h2>Magazzino: {{ordine.magazzino_nome}}</h2>
            <h2>Ditta di Trasporti: {{ordine.ditta_nome}}</h2>
            <h2>Stato: {{ordine.stato}}</h2>
            <h2>Codice Ritiro: {{ordine.codice_ritiro}}</h2>
          </ion-label>

          <ion-icon name="information-circle-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-virtual-scroll [items]="ordine.merci">
            <ion-item *virtualItem="let merce">
              <ion-avatar slot="start">
                <img src="../../../../../assets/shopping-bag.png">
              </ion-avatar>

              <ion-label>
                <h3 text-capitalize style="font-size:18px">{{merce.nome}}</h3>
                <h3>Quantità: {{merce.quantita}}</h3>
                <h3>Prezzo acquisto: {{merce.prezzo_acquisto}}</h3>
                <h3>Stato: {{merce.stato}}</h3>
              </ion-label>
            </ion-item>

          </ion-virtual-scroll>
        </ion-item>
      </ion-card>

    </ion-virtual-scroll>
  </div>

</ion-content>