<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card class="forgot-password-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title style="font-size:35px">Forgot password</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block">Send</ion-button>
          </ion-col>
        </ion-row>
        <br>
        <p>
          Please provide the username or email address that you used when you signed
          up for your C3-PAWM account.
        </p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>