<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <app-header-navigation-bar></app-header-navigation-bar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-content-with-hexagon-background">
    <form>
      <div class="forgot-password-card">
        <ion-card>
          <br>
          <br>
          <ion-card-header>
            <ion-card-title style="font-size:35px"><strong>Forgot password</strong></ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button (click)="presentAlert()" type="submit" color="danger" expand="block">Send</ion-button>
              </ion-col>
            </ion-row>
            <br>
            <p>
              Please provide the username or email address that you used when you signed
              up for your C3-PAWM account.
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </form>
  </ion-content>
  <app-cookie-alert></app-cookie-alert>
  <app-page-footer></app-page-footer>
</ion-app>