<ion-tab-bar>
  <ion-tab-button id="header-home" href="/home">
    <ion-icon name="home-outline" id="header-home"></ion-icon>
    <ion-label id="header-home-label">Home</ion-label>
  </ion-tab-button>

  <ion-tab-button id="header-login" href="/login">
    <ion-icon name="log-in-outline" id="header-login"></ion-icon>
    <ion-label id="header-login-label">Login</ion-label>
  </ion-tab-button>

  <ion-tab-button id="header-registration" href="/registration">
    <ion-icon name="person-circle" id="header-registration"></ion-icon>
    <ion-label id="header-registration-label">Registration</ion-label>
  </ion-tab-button>

  <ion-tab-button id="header-about" href="/about">
    <ion-icon name="information-circle" id="header-about"></ion-icon>
    <ion-label id="header-about-label">About</ion-label>
  </ion-tab-button>
</ion-tab-bar>