<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        C3 - Progettazione di Applicazioni Web e Mobili
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="min-height: 300px !important;">
    <div class="container">
      <ion-card>
        <ion-card-header style="text-align: center;">
          <ion-card-title style="font-size: 22px;">Progetto universitario per l'esame di Progettazione di Applicazioni
            Web e Mobile.
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="page-text">
          Progetto per la realizzazione di un' applicazione rivolta ai centri abitati medi della provincia italiana
          dove le attività commerciali del centro soffrono la concorrenza di grossi centri commerciali situati nelle
          periferie.
        </ion-card-content>
        <ion-card-content class="page-text">
          L’idea di fondo è considerare il trasporto della merce, una volta acquistata, una delle scomodità principali
          degli acquisti in centro, oltre alla più difficile collocazione dei punti vendita in relazione a specifiche
          categorie merceologiche.
        </ion-card-content>
        <ion-card-content class="page-text">
          Il progetto si pone dunque come obiettivo quello di fornire un supporto tramite punti di prelievo per rendere
          l’esperienza degli acquisti in centro più facile e interessante.
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  <ion-content>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Website created ONLY for university use!</strong> Our site does not use cookies, the only cookies that are
      used come from the <a target="_blank" style="color: white;" rel="noopener noreferrer"
        href="https://www.heroku.com/home">Heroku hosting system</a>.
    </div>
  </ion-content>

  <app-page-footer></app-page-footer>
</ion-app>