ion-content {
  --background: url("../../assets/Home_C3_Background.jpg") no-repeat center center / cover;
}

.container {
  align-items: center;
  margin: auto;
  text-align: justify;
  max-width: 800px;
}

.container-button {
  margin: auto;
  text-align: center;
  max-width: 800px;
}

.container a:link{
  font-size: 16px;
  color: #2196F3;
  text-decoration: none;
}

.container a:visited {
  color: #2196F3;
}

.container a:hover{
  color: white;
}

.page-text {
  color: white;
  font-size: 16px;
}

.card-title {
  text-align: center; 
  font-size: 22px; 
  color: white;
}