<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <app-header-navigation-bar></app-header-navigation-bar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="container">
      <ion-card style="background-color: rgba(0, 0, 0, 0.6) !important;">

        <ion-card-header>
          <ion-card-title class="card-title" style="font-size:70px">
            <strong>C3 PAWM</strong>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
        <h2 style="font-size:25px; text-align:center"><strong>Progetto universitario per l'esame di Progettazione di Applicazioni Web e Mobile.</strong></h2>
        </ion-card-content>

        <ion-card-content class="page-text">
          Progetto per la realizzazione di un' applicazione rivolta ai centri abitati medi della provincia italiana
          dove le attività commerciali del centro soffrono la concorrenza di grossi centri commerciali situati nelle
          periferie.
        </ion-card-content>
        <ion-card-content class="page-text">
          L’idea di fondo è considerare il trasporto della merce, una volta acquistata, una delle scomodità principali
          degli acquisti in centro, oltre alla più difficile collocazione dei punti vendita in relazione a specifiche
          categorie merceologiche.
        </ion-card-content>
        <ion-card-content class="page-text">
          Il progetto si pone dunque come obiettivo quello di fornire un supporto tramite punti di prelievo per
          rendere
          l’esperienza degli acquisti in centro più facile e interessante.
        </ion-card-content>

      </ion-card>
    </div>
    <br>
    <div class="container-button">
      <ion-row>
        <ion-col>
          <ion-button expand="block" href="/login">Login</ion-button>
        </ion-col>
        <ion-col>
          <p>Or</p>
        </ion-col>
        <ion-col>
          <ion-button expand="block" href="/register">Register</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
  <app-cookie-alert></app-cookie-alert>
  <app-page-footer></app-page-footer>
</ion-app>