<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar class="transparent-toolbar">

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../../../../assets/user.png">
      </ion-avatar>
      <h3>Bentornato, Licio Sport!</h3>
      <br>
    </ion-item>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div cards>
    <div class="grid-full">
      <app-vendite-stats (click)="apriOrdini()"></app-vendite-stats>

      <ion-row>
        <ion-col>
          <app-dipendenti-stats (click)="apriDipendenti()"></app-dipendenti-stats>
        </ion-col>

        <ion-col>
          <app-inventario-stats (click)="apriInventario()"></app-inventario-stats>
        </ion-col>

        <ion-col>
          <ion-card class="transparent-card">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <h2 style="font-size:20px">10 magazzini</h2>
                <h2 style="color:rgb(160, 160, 160)">convenzionati con C3-PAWM</h2>
                <br>
                <h2 style="color:rgb(160, 160, 160)">Vedi dettagli >></h2>
              </ion-label>
              <ion-icon name="storefront-outline"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="transparent-card">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <h2 style="font-size:20px">5 spedizionieri</h2>
                <h2 style="color:rgb(160, 160, 160)">convenzionati con C3-PAWM</h2>
                <br>
                <h2 style="color:rgb(160, 160, 160)">Vedi dettagli >></h2>
              </ion-label>
              <ion-icon name="airplane-outline"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>

  </div>

</ion-content>